<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- buzz off logan
    or henry idk -->

    <h1>Verification, type the code sent to your email</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.code }}
        {{ form.submit }}
    </form>

    {% if error == 1 %}
        <p style="color:#a70c0c;">Incorrect Code</p>
    {% endif %}
</body>
</html>